#salda {display: flex; 
    justify-content: space-around;
    flex-direction: column;
    font-size: 18px ;
    font-weight: ;
    border-bottom: ;
    text-align: right;
    cursor: pointer;
    background-color: ;


}